<h4 class="row ng-scope">
    <div class="col-xs-4">
        Powell Developer Tools
        <span class="app-vers">3.9.4</span>
    </div>
    <div class="col-xs-4">
        <button type="button" id="clearStorage" ng-click="clearLocalStorage(true)" class="btn btn-primary">Vider le cache search</button>
    </div>
    <div class="col-xs-4">
        <button type="button" id="clearStorage" ng-click="clearLocalStorage()" class="btn btn-primary">Vider le cache</button>
    </div>
</h4>
<div class="row">
    <ul class="nav nav-tabs" id="nav">
        <li class="pull-left" ng-class='isPaneActive("js")' id="navJs">
            <a data-target="#js" data-toggle="tab" href ng-click="setActivePane('js')">
                <h5>JS</h5>
            </a>
            <div class="switch">
                <input ng-model="enableJsEmulation" ng-click="switchChanged('js');" id="jsSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="js">
                <label for="jsSwitch"></label>
            </div>
        </li>
        <li class="pull-left" ng-class='isPaneActive("css")' id="navCss">
            <a data-target="#css" data-toggle="tab" href ng-click="setActivePane('css')">
                <h5>CSS</h5>
            </a>
            <div class="switch">
                <input ng-model="enableCssEmulation" ng-click="switchChanged('css');" id="cssSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="css">
                <label for="cssSwitch"></label>
            </div>
        </li>
        <li class="pull-left" ng-class='isPaneActive("html")' id="navHtml">
            <a data-target="#html" data-toggle="tab" href ng-click="setActivePane('html')">
                <h5>HTML</h5>
            </a>
            <div class="switch">
                <input ng-model="enableHtmlEmulation" ng-click="switchChanged('html');" id="htmlSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="html">
                <label for="htmlSwitch"></label>
            </div>
        </li>
        <li class="pull-left" ng-class='isPaneActive("xhr")' id="navXhr">
            <a data-target="#xhr" data-toggle="tab" href ng-click="setActivePane('xhr')">
                <h5>XHR</h5>
            </a>
            <div class="switch">
                <input ng-model="enableXhrEmulation" ng-click="switchChanged('xhr');" id="xhrSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="xhr">
                <label for="xhrSwitch"></label>
            </div>
        </li>
        <li class="pull-lef" ng-class='isPaneActive("bing")' id="navBing">
            <a data-target="#bing" data-toggle="tab" href ng-click="setActivePane('bing')">
                <h5>BING</h5>
            </a>
        </li>
    </ul>
    <form role="form" class="col-xs-12" ng-submit="clearLocalStorage()">
        <div class="tab-content col-xs-12">
            <!-- JS Panel -->
            <div class="tab-pane panel" id="js" ng-class='isPaneActive("js")'>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="repoJsURL">URL du repository JavaScript:</label>
                        <input type="text" ng-model="config.repoJsURL" ng-disabled="config.defaultJsRepoState" class="form-control" id="repoJsURL" placeholder="D&eacute;faut : https://cdn.powell-365.com/" aria-describedby="repoJsURLhelpBlock">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-6">
                        <label for="cdnJsMode">CDN mode:</label>
                        <select id="cdnJsMode" class="form-control input-small" ng-disabled="!config.defaultJsRepoState" ng-model="config.cdnJsMode" ng-options="id as value for (value, id) in cdnModes"></select>
                    </div>
                    <div class="form-group-sm col-xs-6">
                        <div class="checkbox">
                            <div class="switch pull-right">
                                <span class="form-control-static">Utiliser le CDN</span> &nbsp;
                                <input id="defaultRepoJsURLSwitch" ng-model="config.defaultJsRepoState" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="js">
                                <label for="defaultRepoJsURLSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-6">
                        <label for="sourceMode">Source mode:</label>
                        <select id="sourceMode" class="form-control input-small" ng-disabled="!config.defaultJsRepoState" ng-model="config.sourceMode" ng-options="id as value for (value, id) in sourceModes"></select>
                    </div>
                </div>
            </div>

            <!-- CSS Panel -->
            <div class="tab-pane panel" id="css" ng-class='isPaneActive("css")'>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="repoCssURL">URL du repository CSS:</label>
                        <input type="text" ng-model="config.repoCssURL" ng-disabled="config.defaultCssRepoState" class="form-control" id="repoCssURL" placeholder="D&eacute;faut : https://cdn.powell-365.com/" aria-describedby="repoCssURLhelpBlock">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-6">
                        <label for="cdnCssMode">CDN mode:</label>
                        <select id="cdnCssMode" class="form-control input-small" ng-disabled="!config.defaultCssRepoState" ng-model="config.cdnCssMode" ng-options="id as value for (value, id) in cdnModes"></select>
                    </div>
                    <div class="form-group-sm col-xs-6">
                        <div class="checkbox">
                            <div class="switch pull-right">
                                <span class="form-control-static">Utiliser le CDN</span> &nbsp;
                                <input ng-model="config.defaultCssRepoState" id="defaultRepoCssURLSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="css">
                                <label for="defaultRepoCssURLSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <div class="checkbox">
                            <div class="switch pull-right">
                                <span class="form-control-static">Les CSS originales sont sur le CDN</span> &nbsp;
                                <input ng-model="config.defautCssOnCdnState" id="defautCssOnCdnSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox">
                                <label for="defautCssOnCdnSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm col-xs-12" ng-if="!config.defautCssOnCdnState">
                        <label for="defaultCssURL">URL d'origine des CSS:</label>
                        <input type="text" ng-model="config.defaultCssURL" class="form-control" id="defaultCssURL" placeholder="https://expertime365.sharepoint.com/.../_catalogs/masterpage/powell/styles/">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="devCssID">Identifiant utilisateur:</label>
                        <input type="text" ng-model="config.devCssID" class="form-control" id="devCssID" placeholder="Entrer l'identifiant (ex: saradj)">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-5">
                        <label for="tenantCssID">Nom du tenant:</label>
                        <input type="text" ng-model="config.tenantCssID" ng-disabled="config.defaultCssTenantState" class="form-control" id="tenantCssID" placeholder="Entrer le nom du tenant dans Powell Manager (ex: FDJ)">
                    </div>
                    <div class="form-group-sm col-xs-7">
                        <div class="checkbox pull-right">
                            <div class="switch">
                                <span class="form-control-static">Utiliser le Tenant "Default"</span> &nbsp;
                                <input ng-model="config.defaultCssTenantState" id="defaultCssSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="js">
                                <label for="defaultCssSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group-sm">
                            <label for="envID">Environnement:</label>
                            <select id="envID" class="form-control input-small" ng-model="config.envID" ng-options="id as value for (value, id) in environments"></select>
                        </div>
                        <div class="form-group-sm">
                            <label for="themeID">Theme ID:</label>
                            <input id="themeID" type="number" ng-disabled="!config.useThemeState" class="form-control input-small ng-pristine ng-untouched ng-valid" ng-model="config.themeID" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group-sm">
                            <label for="headerID">Header ID:</label>
                            <input id="headerID" type="number" ng-disabled="!config.useHeaderState" class="form-control input-small ng-pristine ng-untouched ng-valid" ng-model="config.headerID" />
                        </div>
                        <div class="form-group-sm">
                            <label for="footerID">Footer ID:</label>
                            <input id="footerID" type="number" ng-disabled="!config.useFooterState" class="form-control input-small ng-pristine ng-untouched ng-valid" ng-model="config.footerID" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-6">
                            <label>Eléments à surcharger :</label>
                        </div>
                        <div class="form-group-sm col-xs-6">
                            <label for="useHeaderSwitch">Header</label>
                            <div class="checkbox pull-left">
                                <div class="switch">
                                    <input ng-model="config.useHeaderState" id="useHeaderSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox">
                                    <label for="useHeaderSwitch" class="pull-left"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-sm col-xs-6">
                            <label for="useHeaderSwitch">Thème</label>
                            <div class="checkbox pull-left">
                                <div class="switch">
                                    <input ng-model="config.useThemeState" id="useThemeSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox">
                                    <label for="useThemeSwitch" class="pull-left"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-sm col-xs-6">
                            <label for="useHeaderSwitch">Footer</label>
                            <div class="checkbox pull-left">
                                <div class="switch">
                                    <input ng-model="config.useFooterState" id="useFooterSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox">
                                    <label for="useFooterSwitch" class="pull-left"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- HTML Panel -->
            <div class="tab-pane panel" id="html" ng-class='isPaneActive("html")'>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="repoHtmlURL">URL du repository HTML:</label>
                        <input type="text" ng-model="config.repoHtmlURL" ng-disabled="config.defaultHtmlRepoState" class="form-control" id="repoHtmlURL" placeholder="D&eacute;faut : https://cdn.powell-365.com/" aria-describedby="repoHtmlURLhelpBlock">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-6">
                        <label for="cdnHtmlMode">CDN mode:</label>
                        <select id="cdnHtmlMode" class="form-control input-small" ng-disabled="!config.defaultHtmlRepoState" ng-model="config.cdnHtmlMode" ng-options="id as value for (value, id) in cdnModes"></select>
                    </div>
                    <div class="form-group-sm col-xs-6">
                        <div class="checkbox">
                            <div class="switch pull-right">
                                <span class="form-control-static">Utiliser le CDN</span> &nbsp;
                                <input id="defaultRepoHtmlURLSwitch" ng-model="config.defaultHtmlRepoState" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox" data-sourcekind="js" disabled="disabled">
                                <label for="defaultRepoHtmlURLSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-6">
                        <label for="htmlVersion">Max version:</label>
                        <input id="htmlVersion" type="number" ng-disabled="!config.defaultHtmlRepoState" class="form-control input-small ng-pristine ng-untouched ng-valid" ng-model="config.htmlVersion">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="htmlTemplates">Templates HTML:</label>

                    </div>
                </div>
            </div>

            <!-- XHR Panel -->
            <div class="tab-pane panel" id="xhr" ng-class='isPaneActive("xhr")'>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="xhrOrigin">Forcer le header 'Referer' à:</label>
                        <input type="text" ng-model="config.xhrOrigin" ng-disabled="config.defaultXhrOriginState" class="form-control" id="xhrOrigin" placeholder="Exemple : https://contoso.sharepoint.com" aria-describedby="xhrOriginhelpBlock">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <h3 for="xhrOriginhelpBlock">
                            <span class="picto-warning">Fonctionnalité expérimentale!</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- BING Panel -->
            <div class="tab-pane panel" id="bing" ng-class='isPaneActive("bing")'>
                <div class="row">
                    <!-- <iframe id="bingTranslate" src="chrome-extension://lnbmhdpfadgpochajkgbekodmafbnkgo/resources/html/BingTranslate.html"></iframe> -->
                    <iframe id="bingTranslate" src="BingTranslate.html"></iframe>
                </div>
            </div>
        </div>

        <div class="panel col-xs-12">
            <div class="form-group-sm" ng-if="enableJsEmulation && isPaneActive('js')">
                <p id="ftpJsUrl" class="form-control-static">
                    <label>Sources JS :</label>
                    <span>{{emulationSources.js}}</span>
            </div>
            <div class="form-group-sm" ng-if="enableCssEmulation && isPaneActive('css')">
                <p id="ftpCssUrl" class="form-control-static">
                    <label>Sources CSS :</label>
                    <span>{{emulationSources.css}}</span>
            </div>
            <div class="form-group-sm" ng-if="enableHtmlEmulation && isPaneActive('html')">
                <p id="ftpHtmlUrl" class="form-control-static">
                    <label>Sources HTML :</label>
                    <span>{{emulationSources.html}}</span>
            </div>
        </div>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
    </form>
</div>