<h3 class="row">
    <span class="col-xs-8">
        <img class="p365b-logo" src="resources/img/POWELL-365-branding-LOGO.png"/>
    </span>
    <span class="col-xs-4">
        <button type="button" id="clearStorage" ng-click="clearLocalStorage()" class="btn btn-primary">Vider le cache</button>
    </span>
</h3>
<div class="row">
    <ul class="nav nav-tabs" id="nav">
        <li class="pull-left" ng-class='isPaneActive("css")' id="navCss">
            <a data-target="#css" data-toggle="tab" href ng-click="setActivePane('css')">
                <h5>Thème</h5>
            </a>
            <div class="switch">
                <span class="switch-state">
                    <span ng-if="enableCssEmulation">Activé</span>
                    <span ng-if="!enableCssEmulation">Désactivé</span>
                </span>
                <input ng-model="enableCssEmulation" ng-click="switchChanged('css');" id="cssSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round"
                    type="checkbox" data-sourcekind="css">
                <label for="cssSwitch"></label>
            </div>
        </li>
    </ul>
    <form role="form" class="col-xs-12" ng-submit="clearLocalStorage()">
        <div class="tab-content col-xs-12">
            <!-- CSS Panel -->
            <div class="tab-pane panel" id="css" ng-class='isPaneActive("css")'>
                <!--<div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="repoCssURL">URL du repository CSS:</label>
                        <input type="text" ng-model="config.repoCssURL" ng-disabled="config.defaultCssRepoState" class="form-control" id="repoCssURL"
                            placeholder="D&eacute;faut : https://cdn.powell-365.com/" aria-describedby="repoCssURLhelpBlock">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-6">
                        <label for="cdnCssMode">CDN mode:</label>
                        <select id="cdnCssMode" class="form-control input-small" ng-disabled="!config.defaultCssRepoState" ng-model="config.cdnCssMode"
                            ng-options="id as value for (value, id) in cdnModes"></select>
                    </div>
                    <div class="form-group-sm col-xs-6">
                        <div class="checkbox">
                            <div class="switch pull-right">
                                <span class="form-control-static">Utiliser le CDN</span> &nbsp;
                                <input ng-model="config.defaultCssRepoState" id="defaultRepoCssURLSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round"
                                    type="checkbox" data-sourcekind="css">
                                <label for="defaultRepoCssURLSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <div class="checkbox">
                            <div class="switch pull-right">
                                <span class="form-control-static">Les CSS originales sont sur le CDN</span> &nbsp;
                                <input ng-model="config.defautCssOnCdnState" id="defautCssOnCdnSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round"
                                    type="checkbox">
                                <label for="defautCssOnCdnSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm col-xs-12" ng-if="!config.defautCssOnCdnState">
                        <label for="defaultCssURL">URL d'origine des CSS:</label>
                        <input type="text" ng-model="config.defaultCssURL" class="form-control" id="defaultCssURL" placeholder="https://expertime365.sharepoint.com/.../_catalogs/masterpage/powell/styles/">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="devCssID">Identifiant utilisateur:</label>
                        <input type="text" ng-model="config.devCssID" class="form-control" id="devCssID" placeholder="Entrer l'identifiant (ex: saradj)">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-5">
                        <label for="tenantCssID">Nom du tenant:</label>
                        <input type="text" ng-model="config.tenantCssID" ng-disabled="config.defaultCssTenantState" class="form-control" id="tenantCssID"
                            placeholder="Entrer le nom du tenant dans Powell Manager (ex: FDJ)">
                    </div>
                    <div class="form-group-sm col-xs-7">
                        <div class="checkbox pull-right">
                            <div class="switch">
                                <span class="form-control-static">Utiliser le Tenant "Default"</span> &nbsp;
                                <input ng-model="config.defaultCssTenantState" id="defaultCssSwitch" class="cmn-horizontal cmn-toggle cmn-toggle-round" type="checkbox"
                                    data-sourcekind="js">
                                <label for="defaultCssSwitch" class="pull-right"></label>
                            </div>
                        </div>
                    </div>
                </div>
-->
                <div class="row"><!--
                    <div class="form-group-sm col-xs-3">
                        <label for="envID">Environnement:</label>
                        <select id="envID" class="form-control input-small" ng-model="config.envID" ng-options="id as value for (value, id) in environments"></select>
                    </div>-->
                    <div class="form-group-sm col-xs-5">
                        <label for="themeID">Theme ID:</label>
                        <input id="themeID" type="number" class="form-control input-small ng-pristine ng-untouched ng-valid"
                            ng-model="config.themeID" aria-describedby="themeIDhelpBlock"/>
                    </div>
                    <div class="form-group-sm col-xs-12">
                        <span id="themeIDhelpBlock">Pick your theme ID from the Powell Manager URL (https://manager.powell-365.com/#/theme/<b>&lt;ThemeID&gt;</b>)</span>
                    </div>
                </div>
            </div>

            <!-- XHR Panel -->
            <div class="tab-pane panel" id="js" ng-class='isPaneActive("xhr")'>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <label for="xhrOrigin">Forcer le header 'Referer' à:</label>
                        <input type="text" ng-model="config.xhrOrigin" ng-disabled="config.defaultXhrOriginState" class="form-control" id="xhrOrigin"
                            placeholder="Exemple : https://contoso.sharepoint.com" aria-describedby="xhrOriginhelpBlock">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm col-xs-12">
                        <h3 for="xhrOrigin">
                            <span class="picto-warning">Fonctionnalité expérimentale!</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
    </form>
</div>